*.class
*.log
*.iml

# Package Files #
*.jar
*.war
*.ear

# ide files #
.classpath
.project
.mymetadata
/.gradle/
/.idea/
/captures/
.DS_Store
.idea/

# setting folders #
.settings/
.svn/
.bin/
.git/
target/
build/
lib/
.idea